$header-height: 100px;
$left-pane-width: 370px;
$app-side-margin: 20px;

.app-container {
  padding: 0 20px;

  .app-main {
    display:table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .app-main-row {
      display: table-row;

      .app-pane {
        display: table-cell;

        &.left {
          vertical-align: top;
          width: $left-pane-width;
          min-width: $left-pane-width;
          max-width: $left-pane-width;
        }

        &.right {
          padding-left: $app-side-margin;
          float: none;
        }
      }
    }
  }
}









