.request-editor {
  .address-block {
    .input-group .input-group-btn select {
      margin-right: -1px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
  }

  .params-block {
  }
}