$icon-size: 33px;

.phase-select-server .server-list {
  max-height: 300px;
  overflow: auto;
  position: relative;
  min-height: 30px;

  .server-item {
    padding: 3px;

    div.row {
      line-height: $icon-size;

      .actions {
        padding: 0;
      }
    }

    .img-container {
      max-height: $icon-size;
      max-width: $icon-size;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .btn-add-server {
    .glyphicon {
      margin-right: 5px;
    }
  }

  .list-group {
    margin-bottom: 0;
  }
}