$icon-size: 33px;

.section-select-server .server-list {
  overflow: auto;
  position: relative;

  .server-item {
    padding: 3px;

    &.is-busy {
      opacity: 0.3;
    }

    div.row {
      line-height: $icon-size;

      .actions {
        padding: 0;
      }
    }

    .img-container {
      max-height: $icon-size;
      max-width: $icon-size;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .btn-add-server {
    .glyphicon {
      margin-right: 5px;
    }
  }

  .list-group {
    margin-bottom: 0;
  }
}